- var body = {}
mixin terminal(title, shell, html)
  .terminal
    .title
      span.btn.b1 ✖
      span.btn.b2 ➖
      span.btn.b3 ❏
      span.text #{title}
    if (shell)
      .shell
        for line in shell
          p.line
            span.dir #{line.dir} 
            span.prompt $ 
            span.cmd #{line.cmd}
    else
      pre.shell
        code
          | !{html}

mixin menuItem(url, page, title)
  a.item(href=url, class={active: $.page === page}) #{title}

mixin docsMenu(url, page, title, items)
  a.item(href=url, class={active: $.page === page}) #{title}
  if items && page == $.page
    for item in items
      a.sub.item(href="#" + item.toLowerCase().split(" ").join("-")) #{item}

mixin example(obj)
  if obj.html
    .example(class=obj.meta.css)
      a(href=obj.meta.url || obj.meta.github)
        img(src=obj.meta.image, alt=obj.meta.title)
      .content
        h3.title: a(href=obj.meta.url || obj.meta.github) #{obj.meta.title}
        | !{obj.html}
        if obj.meta.url
          a(href=obj.meta.url) Visit
        if obj.meta.url && obj.meta.github
          |  - 
        if obj.meta.github
          a(href=obj.meta.github) Source Code